@import './dialog.scss';
@import './table.scss';

.g-radio-group{
  margin: 0 15px 15px;
}

.g-statistics-bg{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 15px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}