.notic-tip{
  width: calc(100% - 100px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.font-Bahnschrif{
  font-family: "Bahnschrif";
}
.index-frame{
  padding: 15px;
  background: #fff;
  border-radius: 4px;
}
.margintop15{
  margin-top: 15px;
}
.margintop5{
  margin-top: 5px;
}
.marginright15{
  margin-right: 15px;
}
.marginright5{
  margin-right: 5px;
}
.marginright10{
  margin-right: 10px;
}
.margin15{
  margin: 0 15px 15px;
}
.width10{
  width: 10%;
  cursor: pointer;
}
.cursor{
  cursor: pointer;
}
.nav-icon{
  height: 28px;
  width: 28px;
}
.top-tips{
  background: #FFFBE6;
  border: 1px solid #FFE58F;
  border-radius: 2px;
  margin: 0 15px 15px;
  padding: 8px 10px;
}
// 用户信息
.user-avator{
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 50%;
  // border: 10px solid #F9F9F9;
  box-shadow: 5px 0px 10px rgba(145, 147, 148, 0.22);
}
.user-post{
  display: flex;
  padding: 0 10px;
  height: 22px;
  background: #EBF4FD;
  border-radius: 11px;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #409EFF;
}
// 运单
.waybill-bg{
  height: 64px;
  width: 120px;
}
.waybill-frame{
  height: 140px;
  background: #F6FAFE;
  border-radius: 4px 4px 25px 4px;
  padding: 15px;
}
.waybill-img{
  position: relative;
  left: 63px;
  top: 21px;
}
::v-deep .el-progress-bar__inner {
  background: linear-gradient(270deg, #409EFF 0%, rgba(64, 158, 255, 0.51) 100%);
}
// 货单
.order-frame{
  width: 140px;
  height: 140px;
  background: #F6FAFE;
  border-radius: 4px 4px 25px 4px;
  padding: 25px 15px 15px;
}
.order-img{
  position: relative;
  left: 73px;
  top: 11px;
}
// 平台概览
.platform-num{
  position: relative;
  bottom: 90px;
  left: 0;
  height: 0;
}
// 日历
::v-deep .el-calendar-table .el-calendar-day{
  height: auto;
  // padding: 0;
}
::v-deep .el-calendar-table tr td{
  border: 0px;
  text-align: center;
}
::v-deep .el-calendar-table td.is-selected{
  background: #fff;
  .el-calendar-day{
    padding: 0;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    background: linear-gradient(180deg, #68B1FC 0%, #007DFF 100%);
    box-shadow: 0px 1px 6px rgba(64, 158, 255, 0.38);
    border-radius: 50%;
    font-family: PingFang SC;
    font-weight: bold;
    line-height: 30px;
    color: #FFFFFF;
  }
}
::v-deep .el-calendar-table td :hover{
  background: none;
  color: #409EFF;
}
::v-deep .el-calendar-table td.is-selected :hover{
  background: #68B1FC;
  color: #fff;
}
// 动态
.notice-bottom{
  width: 100%;
  height: 50px;
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #FFFFFF 100%);
  border-radius: 4px;
  position: relative;
  bottom: 50px;
}
.trend-tab{
  cursor: pointer;
  height: 32px;
  background: #F3F3F3;
  border-radius: 16px;
  overflow: hidden;
  margin: 16px 20px;
}
.trend-onbottom{
  height: 32px;
  background: #409EFF;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.trend-bottom{
  height: 32px;
  color: #9FA2B5;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.trend-frame{
  height: calc(100% - 365px);
  overflow: scroll;
  padding: 0 10px 0 20px;
  margin-right: 5px;
}
.trend-line{
  position: relative;
  bottom: 25px;
  left: -10px;
  width: 0px;
  height: 30px;
  border: 1px dashed #E6E6E6;
}
.trend-oncontent{
  height: 60px;
  padding: 10px 0 10px 15px;
  background: #F9FBFC;
}
.trend-content{
  cursor: pointer;
  height: 60px;
  padding: 10px 0 10px 15px;
}
.cursor-point :hover{
  background: #F8FBFE;
}
.ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
